# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
ayushmi_adhikari/
*.db

# Environment / secrets
.env
*.env.local

# Node / frontend
node_modules/
build/
dist/
.dist/

# Build output
*.log

# OS
.DS_Store
Thumbs.db